<!-- public/views/contact.html -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron text-center">
    <form class="form-horizontal">
        <fieldset>Contact Method</fieldset>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Phone Notification
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Email Notification
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Text Notification
                </label>
            </div>
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhoneNumber" class="col-lg-2 control-label">Number</label>
            <div class="col-lg-10">
                <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
            </div>
        </div>
        <div>
            <button class="btn btn-inverse">Send</button>
        </div>
    </form>
</div>