<!-- public/views/contact.html -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron text-center">
    <form class="form-horizontal">
        <h2>Contact Method</h2>
        <hr>
        <div class="form-group">
                <label>
                <input type="checkbox"> Phone
                <input type="checkbox"> Email
                <input type="checkbox"> Text
                </label>
            <hr>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="col-lg-10">
                <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
            </div>
        </div>
        <div>
            <button id="sendButton" class="btn btn-inverse">Send</button>
        </div>
    </form>
</div>