<!-- public/views/geek.html -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron text-center">
    <h1>Students want these things:</h1>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" src="https://www.estarland.com/images//Extra_Product_Images/Anime_Merchandise/Figures/MAR11/duke_nukem_action_figure.jpg" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">Duke Nukem Figure</h4>
                <p class="list-group-item-text">In good condition, preferably.</p>
            </div>
        </div>
        <a href="/contact" class="btn btn-inverse">I have</a>
        <div class="list-group-separator"></div>
    </div>
</div>